<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Marcadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Categoría</ion-label>
              <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="categoria">
                <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.edadMenor}}
                  {{(categoria.edadMenor == 1)?'año':'años'}} - {{categoria.edadMayor}}
                  {{(categoria.edadMayor == 1)?'año':'años'}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Prueba</ion-label>
              <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="prueba">
                <ion-select-option *ngFor="let prueba of pruebas" value="{{prueba.id}}">{{prueba.prueba}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Rama</ion-label>
              <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="rama">
                <ion-select-option value="Femenil">Femenil</ion-select-option>
                <ion-select-option value="Varonil">Varonil</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Sólo primeros</ion-label>
              <ion-checkbox [(ngModel)]="soloPrimeros"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="!categoria || !prueba || !rama" (click)="verResultados()">
              Ver resultados
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button fill="outline" (click)="exportarExcel()" color="primary"
            [disabled]="!categoria || !prueba || !rama">
            Exportar a Excel
            <ion-icon slot="end" name="download"></ion-icon>
          </ion-button>
          <ion-button color="primary" (click)="abrirEnVentana()" [disabled]="!datosVista">
            Ver patalla completa
            <ion-icon slot="end" name="expand"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="cabecera">
          <ion-col lign-self-center size="2">
            <h2>Lugar</h2>
          </ion-col>
          <ion-col lign-self-center>
            <h2>Nombre</h2>
          </ion-col>
          <ion-col lign-self-center>
            <h2>Tiempo</h2>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let resultado of resultadosFiltrados;let i = index" class="resultados">
          <ion-col [class.primero]="i == 0" [class.segundo]="i == 1" [class.tercero]="i == 2" size="2">{{i+1}}</ion-col>
          <ion-col>{{resultado.nadador.nombre}}</ion-col>
          <ion-col>{{resultado.tiempo}}</ion-col>
        </ion-row>
      </ion-grid>
      <!--<a href="javascript:window.open('https://www.google.es','','toolbar=yes');void 0">Nueva Instancia</a>-->
    </ion-card-content>
  </ion-card>

</ion-content>